@import "header_footer.css";

*{
    font-family: "Noto Sans TC";
}
*a{
    font-size: 0;
}


body{
    /* min-width: 1440px; */
    margin: 0px;
    ;
}

.title > p{
    margin-bottom: 10px;
    font-size: 1.6rem;
    color:#606060;
    text-align: center;
    text-shadow:#606060 0em 0em 0.05em;
}
.content{
    margin-left: 20%;
    margin-right: 20%;
}

.title2{
    margin-bottom: 10px;
    font-size: 1.6rem;
    color:#606060;
    text-align: left;
    text-shadow:#606060 0em 0em 0.05em;
}
.text{
    font-size: 16px;
    color:#606060;
    line-height: 40px;
}

.text > ol li{
    word-wrap: break-word;
}

#over{
    /* height: 30px;
    width: 100%; */

    margin-top:3%;
}

@media screen and (min-width: 769px) and (max-width: 1200px){

    .title > p{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10px;
        font-size: 1.6rem;
        color:#606060;
        text-align: center;
        text-shadow:#606060 0em 0em 0.05em;
    }
    .content{
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .title2{
        margin-bottom: 10px;
        font-size: 1.6rem;
        color:#606060;
        text-align: left;
        text-shadow:#606060 0em 0em 0.05em;
    }
    .text{
        font-size: 16px;
        color:#606060;
        line-height: 40px;
    }
    
    #over{
        /* height: 30px;
        width: 100%; */
    
        margin-top:3%;
    }

}

@media screen and (min-width: 250px) and (max-width: 768px){

    .title > p{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
        font-size: 1.6rem;
        color:#606060;
        text-align: center;
        text-shadow:#606060 0em 0em 0.05em;
    }
    .content{
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .title2{
        margin-bottom: 10px;
        font-size: 1.6rem;
        color:#606060;
        text-align: left;
        text-shadow:#606060 0em 0em 0.05em;
    }
    .text{
        font-size: 16px;
        color:#606060;
        line-height: 40px;
    }
    
    #over{
        /* height: 30px;
        width: 100%; */
    
        margin-top:3%;
    }

}
